@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Dancing+Script:wght@400;500;600&family=Permanent+Marker&display=swap');


:root {
  --negro: #000;
  --celeste: #4b91f1;
  --celeste-letra: #77d4fc;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;

}

.contenedor-componentes {

  margin-left: 80px;
  margin-right: 80px;

}