

.cabecera {
    /* background-image: url('../../../public/logo-no-background.png');
    background-repeat: repeat;
    background-size: 80px 40px;*/
    background-color: var(--celeste);
    margin-top: 30px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    border-radius: 10px;
    margin-bottom: 8px;
    


}

.cabecera-logo {

    width: 150px;
    margin-left: 35px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 6px 6px 12px black; 
}

.animate__heartBeat {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    flex-grow: 1;
    text-decoration: none;
    color: black;
    
    

}
.animate__heartBeat:hover{

    font-size: 7rem;
    
    

}
